<div class="card registerContainer">
    <form class="logInForm">
        <div class='row'>
            <div class='input-field col s12'>
                <input  id="registerEmail" type="text" class="validate">
                <label for="registerEmail">E-mail</label>
            </div>
        </div>
        <div class='row'>
            <div class='input-field col s12'>
                <input  id="registerPassword" type="password" class="validate">
                <label for="registerPassword">Password</label>
            </div>
        </div>
        <div class='row'>
            <div class='input-field col s12'>
                <input  id="confirmPassword" type="password" class="validate">
                <label for="confirmPassword">Confirm Password</label>
            </div>
        </div>
        <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green' id="register">Register</button>
        </div>
    </form>
    <div class='row'>
        <a href="/login">
            <button class='col s12 btn btn-large waves-effect indigo'>Log In</button>
        </a>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</div>